<!-- view :: home -->

<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<span>Home</span>
		</h2>
	</div>
</md-toolbar>

<md-content layout="row" layout-align="center" layout-padding>
	<md-list flex-gt-xs="45">
		<md-list-item ng-repeat="show in vm.shows.results">
			<md-card flex="grow">
				<img ng-src="http://image.tmdb.org/t/p/w300{{show.backdrop_path}}" class="md-card-image" alt="{{show.name}}" title="{{show.name}}">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{show.name}}, <small>{{show.id}}</small></span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<p>{{show.overview | limitTo:80}}..</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-primary" ng-href="/shows/{{show.id}}">DETAIL</md-button>
				</md-card-actions>
			</md-card>
		</md-list-item>
	</md-list>
</md-content>