<!-- view :: detail -->

<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<span>Detail</span>
		</h2>
	</div>
</md-toolbar>

<md-content layout="row" layout-align-gt-xs="center" layout-padding>
	<div flex-gt-xs="75">
		<md-card>
			<img ng-src="http://image.tmdb.org/t/p/w500{{vm.show.backdrop_path}}" class="md-card-image" alt="{{vm.show.name}}" title="{{vm.show.name}}">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{vm.show.name}}, {{vm.show.id}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>{{vm.show.overview}}</p>
			</md-card-content>
			<!--
			<md-card-actions layout="row" layout-align="end center">
				<md-button class="md-primary" ng-href="/shows/{{show.id}}">DETAIL</md-button>
				<md-button class="md-primary" ng-href="/shows/{{show.id}}/pair">PAIR</md-button>
			</md-card-actions>
			-->
		</md-card>
	</div>
</md-content>