<!-- view :: login -->

<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<span>Login / Register</span>
		</h2>
	</div>
</md-toolbar>

<md-content layout="column" layout-gt-xs="row" layout-align="center" layout-padding>
	<div md-whiteframe="1">
		<form ng-submit="vm.loginUser()">
			<md-input-container class="md-block">
				<label>Email</label>
				<input type="email" ng-model="vm.form.login.email" required>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Password</label>
				<input type="password" ng-model="vm.form.login.password" required>
			</md-input-container>
			<md-button type="submit" class="md-primary md-raised">Login</md-button>			
		</form>
	</div>
	<div md-whiteframe="1">
		<form ng-submit="vm.registerUser()">
			<md-input-container class="md-block">
				<label>Email</label>
				<input type="email" ng-model="vm.form.register.email" required>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Password</label>
				<input type="password" ng-model="vm.form.register.password" required>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Password (again)</label>
				<input type="password" ng-model="vm.form.register.password" required>
			</md-input-container>
			<md-button type="submit" class="md-primary md-raised">Register</md-button>			
		</form>
	</div>
</md-content>




<!--

<div>
	<h2>logout</h2>
	<form ng-submit="vm.logoutUser()">		
		<div>
			<button type="submit">logout</button>
		</div>
	</form>
</div>
-->

