<h1>login</h1>
<code style="font-size:10px;font-family:Consolas;background:#fafafa;height:160px;display:block;overflow:scroll;">
{{vm}}
<hr>
appState :: {{vm.appState.user}}
</code>


<div>
	<h2>register</h2>
	<form ng-submit="vm.registerUser()">
		<div>
			<label for="">email:</label>
			<input type="email" ng-model="vm.form.register.email" required>
		</div>
		<div>
			<label for="">password:</label>
			<input type="password" ng-model="vm.form.register.password" required>
		</div>
		<div>
			<label for="">password again:</label>
			<input type="password" ng-model="vm.form.register.password" required>
		</div>
		<div>
			<button type="submit">register</button>
		</div>
	</form>
</div>

<hr>

<div>
	<h2>login</h2>
	<form ng-submit="vm.loginUser()">
		<div>
			<label for="">email:</label>
			<input type="email" ng-model="vm.form.login.email" required>
		</div>
		<div>
			<label for="">password:</label>
			<input type="password" ng-model="vm.form.login.password" required>
		</div>
		<div>
			<button type="submit">login</button>
		</div>
	</form>
</div>

<hr>

<div>
	<h2>logout</h2>
	<form ng-submit="vm.logoutUser()">		
		<div>
			<button type="submit">logout</button>
		</div>
	</form>
</div>