<!-- view :: home -->

<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<span>Home</span>
		</h2>
		<!-- <span flex></span> -->
		<!-- <md-button class="md-raised" aria-label="do sth">do sth</md-button> -->
	</div>
</md-toolbar>

<md-content layout="row" layout-align-gt-xs="center" layout-padding>
	<md-list flex-gt-xs="50">
		<md-list-item ng-repeat="show in vm.shows.results">
			<md-card>
				<img ng-src="http://image.tmdb.org/t/p/w300{{show.backdrop_path}}" class="md-card-image" alt="{{show.name}}" title="{{show.name}}">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{show.name}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<p>{{show.overview | limitTo:80}}..</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-primary" ng-href="/shows/{{show.id}}">DETAIL</md-button>
					<!-- <md-button class="md-primary md-raised" ng-href="/shows/{{show.id}}/pair">PAIR</md-button> -->
				</md-card-actions>
			</md-card>
		</md-list-item>
	</md-list>
</md-content>