<header class="ota-header">
	<!--
	<nav>
		<a href="/">home</a>
		<a href="/shows">error</a>
		<a href="/login">login</a>
	</nav>
	-->
	<!--
	<form ng-submit="vm.logoutUser()">		
		<div>
			<button type="submit">logout</button>
		</div>
	</form>
	-->
	<span><a href="/">missofis on the air</a></span>
	<span><a href="/login" aria-label="Login" style="float:right;">Login</a></span>
</header>




<style type="text/css">
	.ota-header {
		background-color: #eeeeee;
		border-bottom: #dddddd;
		padding: 20px;
	}
</style>