<header class="ota-header" layout="row" layout-align="none center">
	<!--
	<nav>
		<a href="/">home</a>
		<a href="/shows">error</a>
		<a href="/login">login</a>
	</nav>
	-->
	<!--
	<form ng-submit="vm.logoutUser()">		
		<div>
			<button type="submit">logout</button>
		</div>
	</form>
	-->

	<md-button href="/" class="md-icon-button" aria-label="Home" title="Home">
		<md-icon>home</md-icon>
	</md-button>
	<span flex></span>
	<md-button ng-show="!vm.appState.user" href="/login" aria-label="login">Login</md-button>
	<md-button ng-show="vm.appState.user" ng-click="vm.logoutUser()" aria-label="logout">Logout</md-button>	
</header>













<style type="text/css">
	body {
		overflow: hidden;
	}
	#ontheair-app-wrapper {
		overflow-y: auto;
	}
	.ota-header {
		background-color: #f9f9f9;
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>