<header class="ota-header" layout="row" layout-align="none center">
	<!--
	<nav>
		<a href="/">home</a>
		<a href="/shows">error</a>
		<a href="/login">login</a>
	</nav>
	-->
	<!--
	<form ng-submit="vm.logoutUser()">		
		<div>
			<button type="submit">logout</button>
		</div>
	</form>
	-->

	<md-button href="/" class="md-icon-button" aria-label="Home" title="Home">
		<md-icon>home</md-icon>
	</md-button>
	<span flex></span>
	<md-button ng-show="!vm.appState.user" href="/login" aria-label="login">Login</md-button>
	<md-menu md-position-mode="target-right target" md-offset="-10 10" ng-show="vm.appState.user">
		<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
			<md-icon>more_vert</md-icon>
		</md-button>
		<md-menu-content width="3">
			<md-menu-item>
				<md-button flex ng-click="vm.redirectToProfile()">
					<md-icon>person</md-icon>
					<span>Profile</span>
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button flex ng-click="vm.logoutUser()" aria-label="logout">
					<md-icon>exit_to_app</md-icon>
					<span>Logout</span>
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</header>













<style type="text/css">
	body {
		overflow: hidden;
	}
	#ontheair-app-wrapper {
		overflow-y: scroll;
	}
	.ota-header {
		background-color: #f9f9f9;
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>